.order-block {
    &__more {
        background: #fafafa;
        border-radius: 0 0 5px 5px;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: $default-link-color;
        cursor: pointer;

        &::after {
            content: '';
            background: url(../img/icons/icons.svg#chevron-more-down) no-repeat center;
            background-size: 18px;
            width: 18px;
            height: 9px;
            margin: 0 0 0 10px;
            display: inline-block;
        }

        &:hover {
            color: $default-link-color-hover;

            &::after {
                content: '';
                background: url(../img/icons/icons.svg#chevron-more-down-hover) no-repeat center;
                background-size: 18px;
            }
        }

        &_active {
            border-radius: 0;

            &::after {
                content: '';
                background: url(../img/icons/icons.svg#chevron-more-up) no-repeat center;
                background-size: 18px;
            }
        }

        &_active {
            &:hover {
                &::after {
                    content: '';
                    background: url(../img/icons/icons.svg#chevron-more-up-hover) no-repeat center;
                    background-size: 18px;
                }
            }
        }
    }
}