.header {
    &__person {
        color: $default-link-color;
        position: relative;

        &::before {
            content: url(../img/icons/icons.svg#person);
            width: 16.56px;
            position: absolute;
            left: 0;
        }

        &_dropdown {
            background: url(../img/icons/icons.svg#chevron-down-solid) no-repeat right 0 top 5px;
            background-size: 10px;
            padding: 0 18px 0 25px;
            cursor: pointer;

            &:hover {
                background: url(../img/icons/icons.svg#chevron-down-solid-hover) no-repeat right 0 top 5px;
                background-size: 10px;

                &::before {
                    content: url(../img/icons/icons.svg#person-hover);
                }
            }
        }

        &_active {
            background: url(../img/icons/icons.svg#chevron-up-solid) no-repeat right 0 top 5px;
            background-size: 10px;

            &:hover {
                background: url(../img/icons/icons.svg#chevron-up-solid-hover) no-repeat right 0 top 5px;
                background-size: 10px;
            }
        }

    }
}